<div class="flex  w-full min-h-screen p-1 bg-gray-200">


    <div class="w-full bg-slate-50 pr-1">

        <button
            class="block text-white bg-green-500 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Thêm
            mới</button>

        <table class="w-11/12 flex-auto justify-center text-center m-auto mt-10 table-auto bg-slate-50 border">
            <thead class="p-2 bg-neutral-700 text-slate-50 h-12">
                <tr>
                    <th>Name</th>
                    <th>Images</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="">
                <tr class="h-10 border p-1 text-center">
                    <td class="w-45">The Sliding Mr. Bones</td>
                    <td class="w-45">
                        <img class="w-32 h-32 m-auto"
                            src="https://lh6.googleusercontent.com/xr1tWQ0zigU8mFvMGfMmW2oiX9yinGbn8LaRLMHnPXvsh7Bg1ABs2Tk8ZfAoQMv6mPw9Id-iaSB1zuU5UTJmCcnTybFvdiaC-EHxrdTbRmNJT22y1tmSb5rE1--xKXg3TrmwO2z3"
                            alt="">
                    </td>
                    <td class="w-[300px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi odit vel fugiat
                        numquam
                        explicabo, esse accusantium cumque mollitia molestiae expedita corporis, omnis nostrum
                        voluptatum. Et ea culpa fugiat similique nulla?</td>
                    <td><span class="text-red-600">10000</span>đ</td>
                    <td class="flex justify-center items-center h-[150px]">
                        <a href="#">
                            <!-- Modal toggle -->
                            <button data-modal-target="defaultModal" data-modal-toggle="defaultModal"
                                class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                type="button">
                                Sửa
                            </button>

                        </a>
                        <a href="#"><button
                                class="block text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                type="button">Xóa</button></a>
                    </td>
                </tr>
                <tr class="h-10 border p-1 text-center">
                    <td class="w-45">The Sliding Mr. Bones</td>
                    <td class="w-45">
                        <img class="w-32 h-32 m-auto"
                            src="https://lh6.googleusercontent.com/xr1tWQ0zigU8mFvMGfMmW2oiX9yinGbn8LaRLMHnPXvsh7Bg1ABs2Tk8ZfAoQMv6mPw9Id-iaSB1zuU5UTJmCcnTybFvdiaC-EHxrdTbRmNJT22y1tmSb5rE1--xKXg3TrmwO2z3"
                            alt="">
                    </td>
                    <td class="w-[300px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi odit vel fugiat
                        numquam
                        explicabo, esse accusantium cumque mollitia molestiae expedita corporis, omnis nostrum
                        voluptatum. Et ea culpa fugiat similique nulla?</td>
                    <td><span class="text-red-600">10000</span>đ</td>
                    <td class="flex justify-center items-center h-[150px]">
                        <a href="#">
                            <!-- Modal toggle -->
                            <button data-modal-target="defaultModal" data-modal-toggle="defaultModal"
                                class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                type="button">
                                Sửa
                            </button>

                        </a>
                        <a href="#"><button
                                class="block text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                type="button">Xóa</button></a>
                    </td>
                </tr>
                <tr class="h-10 border p-1 text-center">
                    <td class="w-45">The Sliding Mr. Bones</td>
                    <td class="w-45">
                        <img class="w-32 h-32 m-auto"
                            src="https://lh6.googleusercontent.com/xr1tWQ0zigU8mFvMGfMmW2oiX9yinGbn8LaRLMHnPXvsh7Bg1ABs2Tk8ZfAoQMv6mPw9Id-iaSB1zuU5UTJmCcnTybFvdiaC-EHxrdTbRmNJT22y1tmSb5rE1--xKXg3TrmwO2z3"
                            alt="">
                    </td>
                    <td class="w-[300px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi odit vel fugiat
                        numquam
                        explicabo, esse accusantium cumque mollitia molestiae expedita corporis, omnis nostrum
                        voluptatum. Et ea culpa fugiat similique nulla?</td>
                    <td><span class="text-red-600">10000</span>đ</td>
                    <td class="flex justify-center items-center h-[150px]">
                        <a href="#">
                            <!-- Modal toggle -->
                            <button data-modal-target="defaultModal" data-modal-toggle="defaultModal"
                                class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                type="button">
                                Sửa
                            </button>

                        </a>
                        <a href="#"><button
                                class="block text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                type="button">Xóa</button></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Main modal -->
        <div id="defaultModal" tabindex="-1" aria-hidden="true"
            class="fixed transition-opacity top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative w-full max-w-2xl max-h-full">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <!-- Modal header -->
                    <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                            Terms of Service
                        </h3>
                        <button type="button"
                            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                            data-modal-hide="defaultModal">
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <div class="p-6 space-y-6">
                        <form>

                            <div class="mb-1">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                                    Tên:
                                </label>
                                <input
                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="name" type="text" placeholder="Nhập tên sản phẩm">
                            </div>

                            <div class="mb-1">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                                    Giá:
                                </label>
                                <input
                                    class="shadow appearance-none border w-full rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="price" type="number" placeholder="Nhập giá">
                            </div>

                            <div class="mb-1">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                                    Mô tả:
                                </label>
                                <textarea name="description" id="description" cols="70" rows="4"
                                    placeholder="mô tả"></textarea>
                            </div>
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                                    Ảnh:
                                </label>
                                <input
                                    class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="images" type="file" placeholder="Nhập tên">
                            </div>
                            <button
                                class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">sửa</button>
                        </form>
                    </div>
                    <!-- Modal footer -->
                    <!-- <div
                        class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                        <button data-modal-hide="defaultModal" type="button"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">I
                            accept</button>
                        <button data-modal-hide="defaultModal" type="button"
                            class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Decline</button>
                    </div> -->
                </div>
            </div>
        </div>

    </div>

</div>