<app-slider></app-slider>

<h1
    class="text-4xl font-bold mx-auto h-16 max-w-screen-2xl items-center text-black justify-between sm:px-6 lg:px-8 mt-10 mb-5">
    New Arirrvals</h1>
<p-toast></p-toast>

<div class="card">
    <p-carousel [value]="productsNew" [numVisible]="5" [numScroll]="3" [circular]="true"
        [responsiveOptions]="responsiveOptions" autoPlayInterval="3000">
        <ng-template let-product pTemplate="item">
            <div class="group block overflow-hidden">
                <div class="relative border-1 surface-border border-round m-2 text-center py-56 px-3 p-button-danger">
                    <p-tag value="New" class="absolute top-2 left-2 z-10"></p-tag>
                    <button class="pi  absolute top-2 right-2 z-10" *ngIf="product"
                        [class.pi-heart-fill]="product.isFavorited === true"
                        [class.pi-heart]="product.isFavorited === false" (click)="onCarouselClick(product)"></button>
                    <a routerLink="/product-detail/{{product._id}}"><img src="{{product.image[0]}}" alt=""
                            class="absolute inset-0 h-full w-full object-cover opacity-100 group-hover:opacity-0" />
                        <img src="{{product.image[1]}}" alt=""
                            class="absolute inset-0 h-full w-full object-cover opacity-0 group-hover:opacity-100" /></a>

                    <div
                        class="absolute bottom-0 left-0 bg-white text-black px-2 py-1 text-xs transform transition-transform duration-300 group-hover:-translate-y-2">
                        {{ product.price | currency: 'USD': 'symbol': '1.0-0' }}
                    </div>
                </div>
                <div class="relative bg-white pt-3">
                    <h3 class="text-sm text-gray-700 ml-2 group-hover:underline group-hover:underline-offset-4">
                        {{ product.name }}
                    </h3>
                </div>
            </div>

        </ng-template>
    </p-carousel>
</div>



<section class="mx-auto  max-w-screen-2xl items-center text-black justify-between sm:px-6 lg:px-8 my-20">
    <div class="flex gap-3">
        <app-card-category></app-card-category>
        <app-card-category></app-card-category>
        <app-card-category></app-card-category>
        <app-card-category></app-card-category>
        <button (click)="show()" class="text-red-500">cc</button>
    </div>
</section>
<section class=" mx-auto  max-w-screen items-center bg-[#f5f5e5] text-black justify-between  lg:px-8  ">
    <div class="mx-auto  max-w-screen-2xl items-center text-black justify-between sm:px-6 lg:px-8  flex gap-24 pb-10">
        <div>
            <h1 class="text-4xl font-bold w-2/4 py-10">Stories, style, and sporting goods at adidas, since 1949</h1>
            <p>Through sports, we have the power to change lives. Sports keep us fit. They keep us mindful. They bring
                us together.
                Athletes inspire us. They help us to get up and get moving. And sporting goods featuring the latest
                technologies help us
                beat our personal best. adidas is home to the runner, the basketball player, the soccer kid, the fitness
                enthusiast, the
                yogi. And even the weekend hiker looking to escape the city. The 3-Stripes are everywhere and anywhere.
                In sports. In
                music. On life’s stages. Before the whistle blows, during the race, and at the finish line. We’re here
                to support
                creators. To improve their game. To live their lives. And to change the world.

                adidas is about more than sportswear and workout clothes. We partner with the best in the industry to
                co-create. This
                way we offer our fans the sporting goods, style and clothing that match the athletic needs, while
                keeping sustainability
                in mind. We’re here to support creators. Improve their game. Create change. And we think about the
                impact we have on our
                world.</p>
        </div>
        <div>
            <h1 class="text-4xl font-bold w-2/4 py-10">Workout clothes, for any sport</h1>
            <p>adidas designs for athletes of all kinds. Creators who love to change the game. People who challenge
                conventions, break
                the rules, and define new ones. Then break them all over again. We design sports apparel that gets you
                moving, winning,
                and living life to the fullest. We create bras and tights for female athletes who play just as hard as
                the men. From low
                to high support. Maximum comfort. We design, innovate and iterate. We test new technologies in action.
                On the field, the
                track, the court, and in the pool. We’re inspired by retro workout clothes, creating new streetwear
                essentials. From NMD
                and Ozweego to our Firebird tracksuits. From Stan Smith to Superstar. Classic sports models are brought
                back to life on
                the streets and the stages around the world.

                Through our collections we blur the borders between high fashion and high performance. Like our adidas
                by Stella
                McCartney athletic clothing collection – designed to look the part inside and outside of the gym. Or
                some of our adidas
                Originals lifestyle pieces, that can be worn as sports apparel too. Our lives are constantly changing.
                Becoming more and
                more versatile. And adidas designs with that in mind.</p>
        </div>
    </div>
</section>