<style>
    .tw__add-product {
        /* background: url('https://i.pinimg.com/564x/ce/38/e6/ce38e69ce9378ed73128187b91d80e3a.jpg') no-repeat;
        background-position: center;
        background-size: cover; */
        background: linear-gradient(to right bottom, #b3ffff, #ccffff, #e6e6e6, #ffe6e6, #ffb3b3, #ff9999);
    }

    .tw__background {
        background: #fff;
        backdrop-filter: blur(10px);
        border-radius: 30px;
    }
</style>
<div class="tw__add-product w-full m-auto flex justify-center items-center flex-col bg-slate-50 min-h-screen">

    <form class="w-6/12 tw__background border-collapse h-[600px] m-auto pt-10">
        <div class="flex  mb-6 justify-center items-center flex-col">
            <div class="w-10/12  px-3 mb-6 mt-3 md:mb-0">
                <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-last-name">
                    Tên
                </label>
                <input
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    id="grid-last-name" type="text" placeholder="Tên">
            </div>
            <div class="w-10/12  px-3 mb-6 mt-3 md:mb-0">
                <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-last-name">
                    Giá
                </label>
                <input
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    id="grid-last-name" type="number" placeholder="Giá">
            </div>
            <div class="w-10/12  px-3 mt-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-last-name">
                    Mô tả
                </label>
                <textarea name="description" id="description" cols="70" rows="5" placeholder="Mô tả"></textarea>
            </div>
            <div class="w-10/12  px-3 mt-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-last-name">
                    Ảnh
                </label>
                <input
                    class="appearance-none block  bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    id="grid-last-name" type="file">
            </div>
            <button
                class="block text-white bg-green-500 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5  mt-8 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Thêm
                Mới</button>
        </div>

    </form>
</div>