<header aria-label="Site Header" class="border-b border-gray-100  ">
    <div class="mx-auto flex h-16 max-w-screen-2xl items-center text-black justify-between sm:px-6 lg:px-8">
        <div class="flex items-center gap-4">
            <button type="button" class="p-2 lg:hidden">
                <svg viewBox="100 100 50 32" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M 150.07 131.439 L 131.925 100 L 122.206 105.606 L 137.112 131.439 L 150.07 131.439 Z M 132.781 131.439 L 120.797 110.692 L 111.078 116.298 L 119.823 131.439 L 132.781 131.439 Z M 109.718 121.401 L 115.509 131.439 L 102.551 131.439 L 100 127.007 L 109.718 121.401 Z"
                        fill="black"></path>
                </svg>
            </button>

            <a routerLink="" class="flex">
                <span class="sr-only">Logo</span>
                <span class="h-10 w-32 ">
                    <svg viewBox="100 100 105 32" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M 150.07 131.439 L 131.925 100 L 122.206 105.606 L 137.112 131.439 L 150.07 131.439 Z M 132.781 131.439 L 120.797 110.692 L 111.078 116.298 L 119.823 131.439 L 132.781 131.439 Z M 109.718 121.401 L 115.509 131.439 L 102.551 131.439 L 100 127.007 L 109.718 121.401 Z"
                            fill="black"></path>
                    </svg>
                </span>
            </a>
        </div>

        <div class="flex flex-1 items-center justify-end gap-8">
            <nav aria-label="Site Nav"
                class="hidden lg:flex lg:gap-4 lg:text-xs lg:font-bold lg:uppercase lg:tracking-wide lg:text-gray-500">
                <a href="/about"
                    class="block h-16 border-b-4 border-transparent leading-[4rem] hover:border-current hover:text-red-700">
                    About
                </a>

                <a href="/news"
                    class="block h-16 border-b-4 border-transparent leading-[4rem] hover:border-current hover:text-red-700">
                    News
                </a>

                <a routerLink="categories"
                    class="block h-16 border-b-4 border-transparent leading-[4rem] hover:border-current hover:text-red-700">
                    Categories
                </a>

                <a href="/contact"
                    class="block h-16 border-b-4 border-transparent leading-[4rem] hover:border-current hover:text-red-700">
                    Contact
                </a>
            </nav>

            <div class="flex items-center">
                <div class="flex items-center border-x border-gray-100">
                    <span class="border-e border-e-gray-100">
                        <a [routerLink]="['/cart']" routerLinkActive="router-link-active"
                            class="grid h-16 w-16 place-content-center border-b-4 border-transparent hover:border-red-700">
                            <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                            </svg>

                            <span class="sr-only">Cart</span>
                        </a>
                    </span>

                    <span class="border-e border-e-gray-100">
                        <a href="/account"
                            class="grid h-16 w-16 place-content-center border-b-4 border-transparent hover:border-red-700">
                            <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                            </svg>

                            <span class="sr-only"> Account </span>
                        </a>
                    </span>


                    <span class="hidden sm:block">
                        <a href="/search"
                            class="grid h-16 w-16 place-content-center border-b-4 border-transparent hover:border-red-700">
                            <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                            </svg>

                            <span class="sr-only"> Search </span>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>