<div class="flex">
  <section data-auto-id="image-grid" class="grid grid-cols-2 gap-4 overflow-y-auto w-8/12">
    <!-- <-- section 1 -->

    <div class="relative">
      <p-image src="{{product.image[0]}}" alt="White Essentials Single Jersey Big Logo Tee" class="w-full h-auto"
        [preview]="true"></p-image>
    </div>
    <div class="relative">
      <p-image src="{{product.image[1]}}" alt="White Essentials Single Jersey Big Logo Tee" class="w-full h-auto"
        [preview]="true"></p-image>
    </div>
    <div class="relative">
      <p-image src="{{product.image[2]}}" alt="White Essentials Single Jersey Big Logo Tee" class="w-full h-auto"
        [preview]="true"></p-image>
    </div>
    <div class="relative">
      <p-image src="{{product.image[3]}}" alt="White Essentials Single Jersey Big Logo Tee" class="w-full h-auto"
        [preview]="true"></p-image>
    </div>
  </section>
  <section class="overflow-hidden w-4/12">
    <h1></h1>
  </section>
</div>